body {
    max-width: 800px;
    margin: 0 auto;
    font-family: "Merriweather";
    font-size: 12pt;
}

h1 {
    font-size: 250%;
    text-align: center;
}

#footer {
    border-top: 1px solid #efefef;
    color: #aaa;
    font-size: 10pt;
    text-align: center;
}

#footer a { color: #aaa; }

@media (max-width: 568px) {
    body { margin: 0.5em 1em; }
}